<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lista de carros</h1>

    <table>
        <thead>
            <tr>
                <td>Fabricante</td>
                <td>Modelo</td>
                <td>Placa</td>
                <td>Data de entrada</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="carro: ${carros}">
                <td th:text="${carro.fabricante}"></td>
                <td th:text="${carro.getModelo}"></td>
                <td th:text="${carro.getPlaca}"></td>
                <td th:text="${carro.getDataEntrada}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>